:root {
    --couleur-primaire : #53606C;
}

body {
text-align:justify
width: 100%;
position: absolute;
top: 0; left: 0;
color: #fff;
background-color:#1f222a;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

a {
color: #e2af78;
}

h1 {
color: #97b4db;
}

h2 {
color: #d87c4bff;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

h3 {
color: #e2af78;
font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}

table, td, th {
  border: 1px solid #53606C;
}

table {
  width: 100%;
  border-collapse: collapse;
}


#inktree {
background-color: blue ;
}
